<style>
    .icon-logo {
        font-size: 130px;
        padding: 0;
        margin: 0;
        color: #fff;
    }

    #wrapper {
        padding-left: 0px;
    }

    .err-msg{
        text-align: center;
    }
    
    .web-title {
        padding: 0;
        margin: 0;
    }
</style>
<div id="page-wrapper" style="padding: 30px;">
    <div class="row">
        <div class="col-lg-12 col-xs-12 text-center v-center">

            <div>
                <i class="icon-logo"></i>
                <h1 class="web-title">Teficod System</h1>
            </div>
            <br>
            <form class="col-lg-12 col-xs-12" method="POST" action="/auth/login" >
                <div class="col-lg-4"></div>
                <div class="col-lg-4" >
                    <p id="err_msg" class="err-msg" style="display: none;"></p>
                    <br>
                    <input class="form-control input-lg" title="User name" placeholder="User name" type="text"
                        name="username" id="username">
                    <br>
                    <input class="form-control input-lg" title="Password" placeholder="Password" type="password"
                        name="password" id="password">
                    <br>
                    <span class="">
                        <button class="btn btn-lg btn-primary" type="submit" id="signin">Đăng nhập</button>
                    </span>
                </div>
                <div class="col-lg-4"></div>
            </form>
        </div>
    </div>
</div>
<script>

    $('form').submit(async function (/*DOMEvent*/ e) {
        e.preventDefault();

        var url = $(this).attr('action'),
            data = $(this).serialize();
        var username = $('#username').val();
        var password = $('#password').val();

        $('#err_msg').html('');
        if (username.trim() == '' || password.trim() == '') {
            $('#err_msg').html('Tên đăng nhập và mật khẩu không được để trống');
            return;
        }
        $('#mask').show();
        var url = '/auth/sign-in';
        var method = 'POST';
        var data = { username: username, password: password };

        $('#mask').show();
        var addUser = await CallApi(url, data, method).then(function (res) {
            var status = res.status;
            if (status == 'success') {
                $('#mask').hide();
                alertAction(status, 'Đăng nhập thành công');
                document.location.href = "/";
            } else {
                $('#mask').hide();
                $('#err_msg').html(res.errors[0].msg);
                $('#err_msg').show();
                //alertAction(status, res.errors[0].msg);
            }
        }).catch(function (err) {
            $('#mask').hide();
            alertAction('failure', err);
        }).finally(function () {
            $('#mask').hide();
        })
    });
</script>