<style>
    .icon-logo{
        font-size: 25px;
        margin-left: -5px;
    }
</style>
{{#if user}}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="mainMenu">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand " href="/"><i class="icon-logo"></i> Teficod System</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul id="active" class="nav navbar-nav side-nav">
            <li class=""><a href="/"><i class="fa fa-home"></i> Trang chủ</a></li>
            {{!-- admin tools --}}
            {{#if_ user.role '==' 'admin'}}
            <li><a href="/user/manage"><i class="fa fa-users"></i> Quản lý user </a></li>
            <li><a href="/device/manage"><i class="fa fa-tasks"></i> Quản lý thiết bị</a></li>
            <li><a href="/device-group/manage"><i class="fa fa-layer-group"></i> Quản lý nhóm thiết bị</a></li>
            {{/if_}}
            {{!-- admin tools --}}
            <li><a href="/device/sensor"><i class="fas fa-microchip"></i> Thông số môi trường</a></li>
            <li><a href="/device/ahsd"><i class="fas fa-microchip"></i> Thông số dinh dưỡng</a></li>
            {{!-- <li><a href="#"><i class="fa fa-globe"></i> Blog</a></li>
            <li><a href="#"><i class="fa fa-list-ol"></i> SignUp</a></li>
            <li><a href="#"><i class="fa fa-font"></i> Register</a></li>
            <li><a href="#"><i class="fa fa-font"></i> Timeline</a></li>
            <li><a href="#"><i class="fa fa-list-ol"></i> Forms</a></li>
            <li><a href="#"><i class="fa fa-font"></i> Typography</a></li>
            <li><a href="#"><i class="fa fa-list-ul"></i> Bootstrap Elements</a></li>
            <li><a href="#"><i class="fa fa-table"></i> Bootstrap Grid</a></li> --}}
        </ul>
        <ul class="nav navbar-nav navbar-right navbar-user">
            {{!-- <li class="dropdown messages-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Messages <span
                        class="badge">2</span> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">2 New Messages</li>
                    <li class="message-preview">
                        <a href="#">
                            <span class="avatar"><i class="fa fa-bell"></i></span>
                            <span class="message">Security alert</span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li class="message-preview">
                        <a href="#">
                            <span class="avatar"><i class="fa fa-bell"></i></span>
                            <span class="message">Security alert</span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">Go to Inbox <span class="badge">2</span></a></li>
                </ul>
            </li> --}}
            <li class="dropdown user-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>
                    <span id="userName">
                        {{#if username}}
                        {{username}}
                        {{else}}
                        //
                        {{/if}}
                    </span>
                    <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/user/profile/"><i class="fa fa-user"></i> Thông tin tài khoản</a></li>
                    <li><a href="#"><i class="fa fa-cog"></i> Cài đặt</a></li>
                    <li class="divider"></li>
                    <li><a href="/auth/sign-out" id="logout"><i class="fa fa-power-off"></i> Log Out</a></li>

                </ul>
            </li>
            {{!-- <li class="divider-vertical"></li> --}}
            {{!-- <li>
                <form class="navbar-search">
                    <input type="text" placeholder="Search" class="form-control">
                </form>
            </li> --}}
        </ul>
    </div>
</nav>
{{/if}}